<template name="layout">
  <div class="container">
    <div class="page-header">
      <h1>Pinboard tags for aktaplin</h1>
    </div>
    <div>{{>test}}</div>
    <div>{{#each addKeys tagListReturn }}
      <svg height="200" width="200">
        <g>
          <circle cx="50" cy="50" r="{{value}}" stroke="black" stroke-width="1" fill="red" />
          <text class="tag" id="{{key}}" x="50" y="50" fill="black">{{key}}</text>
        </g>
      </svg>
      {{/each}}
    </div>
  </div>
</template>
