.bookmarks.affix {
  position: fixed;
  width: 100%;
  top: 0px;
}
.bookmarks {
  background-color: white;
  z-index: 9999;
  display: block;
  padding-bottom: 15px;
}
#close {
  position: absolute;
  top: 15px;
  right: 30px;
}
